*{
    margin: 0;
    padding: 0;
}

.cabesario {
   background-color: #424e61;
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px;
}

.cabesario-imagen{
    width: 20%;

}

.cabesario-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagen{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#424e61,#00bbff);
    color: white;
    display: flex;
}